{
  "extends": ["@antfu/eslint-config-react"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 3
  },
  "rules": {
    "@typescript-eslint/no-redeclare": "off",
    "@typescript-eslint/brace-style": "off",
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "@typescript-eslint/quotes": "off",
    "@typescript-eslint/no-invalid-this": "off",
    "antfu/if-newline": "off",
    "arrow-parens": "off",
    "curly": "off",
    "no-console": "off",
    "multiline-ternary": "off",
    "operator-linebreak": "off",
    "prefer-promise-reject-errors": "off",
    "n/prefer-global/process": "off",
    "quote-props": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "max-lines": ["error", { "max": 650, "skipBlankLines": true, "skipComments": true }]
  }
}
